@font-face {
  font-family: "Clash Display";
  src: url("./ClashDisplay-Regular.woff2") format("woff2"),
    url("./ClashDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Clash Display";
  src: url("./ClashDisplay-Medium.woff2") format("woff2"),
    url("./ClashDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Clash Display";
  src: url("./ClashDisplay-Semibold.woff2") format("woff2"),
    url("./ClashDisplay-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Clash Display";
  src: url("./ClashDisplay-Bold.woff2") format("woff2"),
    url("./ClashDisplay-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
